@forward 'variables';
@forward 'mixins';

body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		to bottom,
		$blue-light 0%,
		$blue-light 35%,
		$cool-gray-light 35%,
		$cool-gray-light 100%
	);
}
a {
	color: inherit;
	text-decoration: none;
}
.page {
	width: calc(100% - #{rem(20)});
	height: 100%;
	box-sizing: border-box;
	margin-left: rem(20);
	padding: rem(20);
	background-color: $white;
	border-radius: $radius-md;
	@include shadow($shadow-color);
}
