@forward 'variables';
@forward 'mixins';

body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		to bottom,
		$blue-light 0%,
		$blue-light 35%,
		$cool-gray-light 35%,
		$cool-gray-light 100%
	);
}
a {
	color: inherit;
	text-decoration: none;
}
