# localhost
# API_URL=http://127.0.0.1:8000/api/admin
# AUTH_API_URL=http://127.0.0.1:8000/api/auth
# product
API_URL=http://178.253.45.236:8000/api/admin
AUTH_API_URL=http://178.253.45.236:8000/api/auth
APP_HOST_PORT=3000
